<article>
	<header>
		<h1><a href="/home/events">Ближайшие события</a></h1>
	</header>
	<p>В это разделе ниже вы можете узнать чему будут посвещены, когда и где будут проходить ближайшие встречи нашей группы.</p>
</article>

<hr />

<p>
	Google calendar наших встреч

	<a target="_blank" href="https://www.google.com/calendar/feeds/i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com/public/basic"><img src="https://www.google.com/calendar/images/xml.gif"></a>&nbsp;<a target="_blank" href="https://www.google.com/calendar/ical/i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com/public/basic.ics"><img src="https://www.google.com/calendar/images/ical.gif"></a>&nbsp;<a target="_blank" href="https://www.google.com/calendar/embed?src=i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com&amp;ctz=Europe/Moscow"><img src="https://www.google.com/calendar/images/html.gif"></a>
</p>
<p>
	<a href="#" onclick='$("#gcal").slideToggle(); $(this).hide(); return false;'>Показать календарь</a>
</p>
<div id='gcal' style='display:none;'>
	<iframe  src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FMoscow" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>
</div>
<hr />

<div id='new_events'>
	<article>
		<header>
			<h1><%= @events["title"]["$t"] %></h1>
			<div class="postmeta"><time datetime="<%= @events["gd$when"][0]["startTime"] %>"><%= Time.parse(@events["gd$when"][0]["startTime"]).ctime %></time></div>
			
		</header>
		<p>Место: <%= @events["gd$where"][0]["valueString"] %><a href="http://maps.google.com/maps?q=<%= @events["gd$where"][0]["valueString"] %>" target="new">(map)</a></p>
		<p><pre><%= @events["content"]["$t"] %></pre></p>
	</article>
	</div>