<% title "Докладчики" %>

<article>

	<header>
		<h1><%= link_to "Докладчики", :action => "speakers" %></h1>
		<div class="postmeta">
			<time datetime="2011-03-19">March 19th, 2011</time>
		</div>
	</header>
	<p>Тут будет инфа о спикерах и голосовалка за ближайшие доклады. Голосовалка будет выглядеть следующим образом (см. ниже). Голосовать можно будет залогинившись или Like'ами disqus</p>
	<% if current_user %>
	  <p>Привет, <%= current_user.name %>! Можешь <%= link_to "разлогиниться", signout_path %>, либо производить активности на этой страничке.</p>
	<% else %>
	  <p>Для того, чтобы добавить предложение о докладе либо проголосовать вам необходимо залогиниться <%= link_to "здесь", "/auth/google" %>
	<% end %></p> 
</article>
<hr />
<% if current_user %>
<h5><%= link_to "[+] Предложить свою тему", :controller => "speeches", :action => "new" %></h5>
<% end%>

<div class="voting">
	<article>
		<header>
			<div class="vote">
				<div><a href="#">+</a></div>
				<div>10</div>
				<div><a href="#">-</a></div>
			</div>
			<h1>Написание LINQ провайдера</h1>
		</header>
		<p>Предложено: <a href="http://twitter.com/butaji">Vitaly Baum</a></p>
		<p>В докладе будет продемонстрировано написание LINQ провайдера. Автор расскажет об особенностях работы с Expressions.</p>
	</article>
	<article>
		<header>
			<div class="vote">
				<div><a href="#">+</a></div>
				<div>9</div>
				<div><a href="#">-</a></div>
			</div>
			<h1>Функциональная парадигма в .NET</h1>
		</header>
		<p>Предложено: <a href="http://twitter.com/controlflow">Alexander Shvedov</a></p>
		<p>В докладе будет продемонстрированы особенности имплементации ФП на .NET.</p>
	</article>
</div>



